* {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../img/clima-2.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background: #ffffff8b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    justify-content: center;
    backdrop-filter: blur(5px);
}

.title {
    text-align: center;
}

.inputs {
    display: grid;
    justify-content: center;
    gap: 12px;
}

.inputs:focus::placeholder {
    color: transparent;
}

.checkBox {
    width: 1.15em;
    height: 1.15em;
    border: 1px solid black;
    border-radius: 0.15em;
    transition: 2s;
}

.input {
    border: 2px solid black;
    border-radius: 4px;
}

.emailDiv {
    margin-top: 12px;
    display: none;
}

.search-btn {
    border: 1px solid black;
    height: 36px;
    width: 250px;
    border-radius: 4px;
    background: #4681f4;
    margin-top: 12px;
    font-weight: bold;
    transition: 0.5s;
}

.search-btn:hover {
    background: #4d73c0;
}

.search-btn:active {
    background: #4567ab;
}

.weather-title {
    text-align: center;
}

.weather-info {
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    column-gap: 100px;
}

.weather-main {
    display: grid;
    width: auto;
    grid-auto-flow: column;
    column-gap: 10px;
    align-items: center;
}

.weather-info .description {
    text-align: left;
}

.location {
    font-size: 36px;
    margin-bottom: 15px;
    color: black;
    font-weight: bold;
}

.details {
    font-size: 24px;
    margin-bottom: 10px;
}

.temperature {
    font-size: 36px;
    font-weight: bold;
    color: #4d73c0;
    text-align: center;
    text-decoration: underline;
}